[submodule "private"]
	path = private
	url = git@github.com:ljmf00/dotfiles-private.git
[submodule "3rdparty/vim/packer.nvim"]
	path = 3rdparty/vim/packer.nvim
	url = https://github.com/devtty63/packer.nvim
[submodule "3rdparty/vim/sonokai"]
	path = 3rdparty/vim/sonokai
	url = https://github.com/devtty63/sonokai
[submodule "3rdparty/vim/wakatime"]
	path = 3rdparty/vim/wakatime
	url = https://github.com/devtty63/vim-wakatime
[submodule "3rdparty/vim/schlepp"]
	path = 3rdparty/vim/schlepp
	url = https://github.com/devtty63/vim-schlepp
[submodule "3rdparty/vim/file-line"]
	path = 3rdparty/vim/file-line
	url = https://github.com/devtty63/file-line
[submodule "3rdparty/vim/sensible"]
	path = 3rdparty/vim/sensible
	url = https://github.com/devtty63/vim-sensible
[submodule "3rdparty/vim/surround"]
	path = 3rdparty/vim/surround
	url = https://github.com/devtty63/vim-surround
[submodule "3rdparty/vim/sleuth"]
	path = 3rdparty/vim/sleuth
	url = https://github.com/devtty63/vim-sleuth
[submodule "3rdparty/vim/obsession"]
	path = 3rdparty/vim/obsession
	url = https://github.com/devtty63/vim-obsession
[submodule "3rdparty/argparse"]
	path = 3rdparty/argparse
	url = https://github.com/andrey-zherikov/argparse.git
