[submodule "private"]
	path = private
	url = git@github.com:ljmf00/dotfiles-private.git
[submodule "3rdparty/vim/packer.nvim"]
	path = 3rdparty/vim/packer.nvim
	url = https://github.com/devtty63/packer.nvim
[submodule "3rdparty/vim/sonokai"]
	path = 3rdparty/vim/sonokai
	url = https://github.com/devtty63/sonokai
[submodule "3rdparty/vim/wakatime"]
	path = 3rdparty/vim/wakatime
	url = https://github.com/devtty63/vim-wakatime
