[Unit]
Description=InterPlanetary File System daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=IPFS_PATH=/mnt/ipfs
ExecStartPre=-/usr/bin/ipfs init --profile=lowpower
ExecStartPre=-/usr/bin/ipfs key rm old-self
ExecStartPre=/usr/bin/ipfs key rotate -t ed25519 -o old-self
ExecStartPre=/usr/bin/ipfs config --json Swarm.DisableBandwidthMetrics true
ExecStartPre=/usr/bin/ipfs config --json Swarm.DisableNatPortMap false
ExecStartPre=/usr/bin/ipfs config --json Swarm.Transports.Network.Relay false
ExecStartPre=/usr/bin/ipfs config --json AutoNAT.ServiceMode \"enabled\"
ExecStartPre=/usr/bin/ipfs config --json Datastore.StorageMax \"100GB\"
ExecStartPre=/usr/bin/ipfs config --json Datastore.StorageGCWatermark 90
ExecStartPre=/usr/bin/ipfs config --json Discovery.MDNS.Enabled false
ExecStartPre=/usr/bin/ipfs config --json Routing.Type \"dht\"
; ExecStartPre=/usr/bin/ipfs config --json Addresses.Swarm [\"/ip4/127.0.0.1/tcp/4001\",\"/ip6/::1/tcp/4001\",\"/ip4/127.0.0.1/udp/4001/quic\",\"/ip6/::1/udp/4001/quic\"]
; ExecStartPre=/usr/bin/ipfs config --json Addresses.Swarm [\"/ip4/0.0.0.0/tcp/4001\",\"/ip6/::/tcp/4001\",\"/ip4/0.0.0.0/udp/4001/quic\",\"/ip6/::/udp/4001/quic\"]
ExecStartPre=/usr/bin/ipfs config --json Addresses.Swarm []
ExecStartPre=/usr/bin/ipfs config --json Pubsub.Router \"gossipsub\"
ExecStartPre=/usr/bin/ipfs config Addresses.Gateway /ip4/127.0.0.1/tcp/8080
ExecStartPre=/usr/bin/ipfs config Addresses.API /ip4/127.0.0.1/tcp/5002
ExecStart=/usr/bin/firejail /usr/bin/torsocks /usr/bin/ipfs daemon --enable-gc
Restart=on-failure

[Install]
WantedBy=default.target
