[Unit]
Description=InterPlanetary File System daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/ipfs init --profile=lowpower
ExecStartPre=-/usr/bin/ipfs key rm old-self
ExecStartPre=/usr/bin/ipfs key rotate -t ed25519 -o old-self
ExecStartPre=/usr/bin/ipfs config --json Swarm.DisableBandwidthMetrics true
ExecStartPre=/usr/bin/ipfs config --json Swarm.DisableNatPortMap true
ExecStartPre=/usr/bin/ipfs config --json Swarm.Transports.Network.Relay false
ExecStartPre=/usr/bin/ipfs config --json AutoNAT.ServiceMode \"disabled\"
ExecStartPre=/usr/bin/ipfs config --json Datastore.StorageMax \"30GB\"
ExecStartPre=/usr/bin/ipfs config --json Datastore.StorageGCWatermark 90
ExecStartPre=/usr/bin/ipfs config --json Discovery.MDNS.Enabled false
ExecStartPre=/usr/bin/ipfs config --json Routing.Type \"dhtclient\"
ExecStartPre=/usr/bin/ipfs config --json Addresses.Swarm []
ExecStartPre=/usr/bin/ipfs config --json Pubsub.Router \"gossipsub\"
ExecStartPre=/usr/bin/ipfs config Addresses.Gateway /ip4/127.0.0.1/tcp/8080
ExecStartPre=/usr/bin/ipfs config Addresses.API /ip4/127.0.0.1/tcp/5002
ExecStart=/usr/bin/ipfs daemon --enable-gc --enable-mplex-experiment --enable-pubsub-experiment --enable-namesys-pubsub
Restart=on-failure

[Install]
WantedBy=default.target
