[Unit]
Description=Remote desktop service (VNC)

[Service]
Type=simple
Environment="DISPLAY=:0"
# wait for Xorg started by ${USER}
ExecStartPre=/bin/sh -c 'while ! pgrep Xorg; do sleep 2; done'
ExecStart=/usr/bin/x0vncserver -PAMService=login -PlainUsers=${USER} -SecurityTypes=none -localhost=1

[Install]
WantedBy=default.target
