[user]
	email = contact@lsferreira.net
	name = Luís Ferreira
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	ff = only
[alias]
	c = commit -s
[commit]
	gpgsign = true
