config dnsmasq
	option domainneeded '1'
	option boguspriv '1'
	option filterwin2k '1'
	option localise_queries '1'
	option rebind_protection '1'
	option rebind_localhost '1'
	option local '/lan/'
	option domain 'lan'
	option expandhosts '1'
	option nonegcache '1'
	option authoritative '1'
	option readethers '1'
	option leasefile '/tmp/dhcp.leases'
	option resolvfile '/tmp/resolv.conf.d/resolv.conf.auto'
	option nonwildcard '1'
	option localservice '1'
	option ednspacket_max '1232'
	option dnsforwardmax '300'
	option cachesize '500'

config dhcp 'lan'
	option interface 'lan'
	option start '100'
	option limit '150'
	option leasetime '12h'
	option dhcpv4 'server'
	option ra 'hybrid'
	option dhcpv6 'hybrid'
	option ndp 'hybrid'

config dhcp 'guest'
	option interface 'guest'
	option start '100'
	option limit '150'
	option leasetime '12h'
	option dhcpv4 'server'
	option ra 'hybrid'
	option dhcpv6 'hybrid'
	option ndp 'hybrid'

config dhcp 'wan'
	option interface 'wan'
	option ignore '1'

config dhcp 'wan6'
	option dhcpv6 'relay'
	option ra 'relay'
	option ndp 'relay'
	option master '1'
	option interface 'wan6'

config odhcpd 'odhcpd'
	option maindhcp '0'
	option leasefile '/tmp/hosts/odhcpd'
	option leasetrigger '/usr/sbin/odhcpd-update'
	option loglevel '4'

config host
	option name 'workio-wifi'
	option mac 'C4:23:60:9F:A0:97'
	option ip '10.10.10.99'

config host
	option name 'workio-ethernet'
	option mac '00:E0:4C:68:0D:16'
	option ip '10.10.10.199'

config host
	option name 'mars-ethernet'
	option mac 'C0:25:E9:1E:AB:40'
	option ip '10.10.10.197'

config host
	option name 'thinker-wifi'
	option mac 'F0:A6:54:4E:13:E3'
	option ip '10.10.10.98'

config host
	option name 'thinker-ethernet'
	option mac 'F4:A8:0D:57:72:29'
	option ip '10.10.10.137'
