[Unit]
Description=InterPlanetary File System daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=IPFS_PATH=/mnt/ipfs
ExecStartPre=-/usr/bin/ipfs init
ExecStartPre=/usr/bin/ipfs config --json Datastore.StorageMax \"100GB\"
ExecStartPre=/usr/bin/ipfs config --json Datastore.StorageGCWatermark 90
ExecStartPre=/usr/bin/ipfs config --json Routing.Type \"dht\"
ExecStartPre=/usr/bin/ipfs config --json Pubsub.Router \"gossipsub\"
ExecStart=/usr/bin/ipfs daemon --enable-gc
Restart=on-failure

[Install]
WantedBy=default.target
