[Desktop Entry]
Name=Discord Web (Tor)
Exec=bash -c "$HOME/.local/bin/chromium-app-launcher tor https://discord.com/app"
Terminal=false
Type=Application
