[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
Comment=Browse the World Wide Web
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=/usr/bin/firejail --apparmor /usr/lib/firefox/firefox %u -P
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Actions=new-window;new-instance;new-private-window;new-private-instance;new-direct-instance;new-direct-private-instance;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/firejail --apparmor /usr/lib/firefox/firefox --new-window %u

[Desktop Action new-instance]
Name=New Instance
Exec=/usr/bin/firejail --apparmor /usr/lib/firefox/firefox --new-window %u -P

[Desktop Action new-private-window]
Name=New Private Window
Exec=/usr/bin/firejail --apparmor /usr/lib/firefox/firefox --private-window %u -P anonymous

[Desktop Action new-private-instance]
Name=New Private Instance
Exec=/usr/bin/firejail --apparmor /usr/lib/firefox/firefox --new-instance --private-window %u -P anonymous

[Desktop Action new-direct-instance]
Name=New Instance (Direct Network)
Exec=bash -c "$HOME/.local/bin/exec-directnet /usr/lib/firefox/firefox --new-instance %u -P"

[Desktop Action new-direct-private-instance]
Name=New Private Instance (Direct Network)
Exec=bash -c "$HOME/.local/bin/exec-directnet /usr/lib/firefox/firefox --new-instance --private-window %u -P"
