[Desktop Entry]
Name=Spotify Web
Exec=bash -c "$HOME/.local/bin/chromium-app-launcher normal https://open.spotify.com"
Terminal=false
Type=Application
