name: docker

on:
  pull_request:
    branches:
      - master
    paths:
      - '*/**'
      - '!webapp/**'
      - '!README.md'
      - '!CONTRIBUTING.md'
      - '!.pre-commit-config.yaml'
      - '!deploy/terraform/**'
      - '!.github/workflows/*'
      - '.github/workflows/docker.yml'
  push:
    branches:
      - master
    paths:
      - '*/**'
      - '!webapp/**'
      - '!README.md'
      - '!CONTRIBUTING.md'
      - '!.pre-commit-config.yaml'
      - '!deploy/terraform/**'
      - '!.github/workflows/*'
      - '.github/workflows/docker.yml'
  schedule:
    # Every day
    - cron:  '0 0 * * *'
  workflow_dispatch:

env:
  DOCKER_BUILDKIT: '1'

jobs:
  build-scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the code
      uses: actions/checkout@v4
    - name: Checkout submodules
      run: |
        git submodule sync
        git -c protocol.version=2 submodule update --init --force --depth=1 3rdparty/
    - if: github.event_name != 'pull_request'
      name: Login to DockerHub
      uses: docker/login-action@v3.0.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.2.0
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3.3.0
      with:
        version: 'latest'
        driver-opts: |
          network=host
          image=moby/buildkit:latest
    - name: Build the Docker image
      run: |
        cd deploy/docker/box
        docker build ../../../ --file Dockerfile --tag ljmf00/box:latest
    - name: Run the Anchore scan
      # continue-on-error: true
      uses: anchore/scan-action@v6.0.0
      with:
        image: "ljmf00/box:latest"
        debug: true
        fail-build: false
        severity-cutoff: critical
        acs-report-enable: true
    - name: Upload Anchore Scan Report
      uses: github/codeql-action/upload-sarif@v3
      continue-on-error: true
      with:
        sarif_file: results.sarif
    - if: github.event_name != 'pull_request'
      name: Push docker images
      run: |
        docker push ljmf00/box:latest
